@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Space Mono', monospace;
	scroll-behavior: smooth;
}


body {
	margin: 0;
	padding: 0;
	border: 0;
	background: #181818;
	color: rgb(255, 255, 255);
}

header {
	font-size: 7vh;
	width: 100%;
	text-align: center;
}

div.front {
	width: 100%;
	text-align: justify;
	padding-left: 25vw;
	padding-right: 25vw;
}

div.front h1 {
	text-align: center;
}

#visualizer {
	position: relative;
	margin-top: 1vh;
	top: 2vh;
	height: 98vh;
	left: 2%;
	width: 96%;
}

#visualizer + * {
	margin-top: 1vh;
}

#visualizer > div {
	border: 1px solid #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#visualizer .network {
	height: 70%;
	background-color: rgba(129, 129, 129, 0.185);
}

#visualizer .network * {
	position: absolute;
}

#visualizer .network :is(.node, .packet){
	width: var(--size);
	height: var(--size);
	margin-left: calc(var(--size) / -2);
	margin-top: calc(var(--size) / -2);
	border-radius: var(--size);
}

#visualizer .network .node {
	--size: 2.5vh;
	--color: white;
	background-color: var(--color);
	z-index: 150;
}

#visualizer .network .packet {
	--size: 2vh;
	z-index: 100;
	transition-property: top, left;
	transition-timing-function: linear;
}

#visualizer .network .AddressPacket {
	background-color: grey;
}

#visualizer .network .BlockPacket {
	background-color: var(--id);
}

#visualizer .network .connection {
	--thickness: .3vh;
	height: var(--thickness);
	width: var(--length);
	margin-left: calc(var(--length) / -2);
	margin-top: calc(var(--thickness) / -2);
	border-radius: var(--thickness);
	background-color: rgb(167, 167, 167);
	opacity: .5;
	z-index: 50;
	transition: opacity .5s ease-out;
}

#visualizer .blockchain {
	top: 72%;
	height: 25vh;
	background-color: rgb(119, 119, 119);
}

#controls {
	background-color: rgba(197, 197, 197, 0.158);
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;

	height: 13vh;
	padding: 1vh;
}

footer {
	background-color: #5e5e5e3b;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
}

div.fixedbutt {
	background-color: rgb(53, 53, 53);
	background-image: url('/source/images/vertalign.svg');
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
	z-index: 999;
	top: 3vh;
	right: 3vw;
	border: 1px solid white;

	--padding: 5px;
	padding: 3px;
	padding-left: var(--padding);
	padding-right: var(--padding);
}

div.fixedbutt > a {color: #ffffff00; text-decoration: none;}
div.fixedbutt > a:visited {color: var(--color);}
div.fixedbutt:hover {filter: brightness(1.8);}
