body {
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	background: #2B2B2B;
	color: white;
}

#visualizer {
	position: absolute;
	top: 2vh;
	height: 96vh;
	left: 2%;
	width: 96%;
}

#visualizer + * {
	margin-top: 100vh;
}

#visualizer > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#visualizer .network {
	height: 70%;
	background-color: red;
}

#visualizer .network * {
	position: absolute;
}

#visualizer .network :is(.node, .packet){
	width: var(--size);
	height: var(--size);
	margin-left: calc(var(--size) / -2);
	margin-top: calc(var(--size) / -2);
	border-radius: var(--size);
}

#visualizer .network .node {
	--size: 3vh;
	--color: white;
	background-color: var(--color);
	z-index: 150;
}

#visualizer .network .packet {
	--size: 2vh;
	z-index: 100;
	transition-property: top, left;
	transition-timing-function: linear;
}

#visualizer .network .AddressPacket {
	background-color: grey;
}

#visualizer .network .BlockPacket {
	background-color: var(--id);
}

#visualizer .network .connection {
	--thickness: .5vh;
	height: var(--thickness);
	width: var(--length);
	margin-left: calc(var(--length) / -2);
	margin-top: calc(var(--thickness) / -2);
	border-radius: var(--thickness);
	background-color: blue;
	opacity: .5;
	z-index: 50;
	transition: opacity .5s ease-out;
}

#visualizer .blockchain {
	top: 72%;
	height: 28%;
	background-color: green;
}

#controls {
	background-color: blue;
	height: 10vh;
}

#description {
	background-color: #3B3B3B;
	text-align: justify;
	padding: 20px 20vw;
}

footer {
	background-color: #4B4B4B;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
}

